// Website Color 
$white : #FFF;
$black : #000;
$black-v2: #090909;
$black-v4 : #1E1E1E;
$blue: #533C8F;
$blue-v1 : #6967FF;
$blue-dark: #1D1D48;
$red: #F33558;
$red-v2 : #F3795E;
$red-v3:#FFDECB;
$yellow : #FFBB00;
$gray: #C1C8D4;
$gray-v1 : #E0D6FF; 
$gray-v3 : #EDF2FB;
$gray-v4: #F2F2F2;
$transparent-color: transparent;

